<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dose Pharmacy</title>
        <link rel="stylesheet" href="/CSS/styles.css">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css">
        <style>
            nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
    
    
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- <title>OCR Upload</title> -->
</head>
<body>
    <!-- <div th:replace="~{fragments/header :: header}"></div> -->

    <div>
        <h1>Upload Image for OCR</h1>
        <form action="/OCR" method="POST">
            <input type="file" name="file" accept="image/*" required />
            <button type="submit">Upload</button>
        </form>
        <div th:if="${ocrResult}">
            <h2>Extracted Text</h2>
            <p th:text="${ocrResult}"></p>
        </div>

    </div>
    
    <!-- <div th:replace="~{fragments/footer :: footer}"></div> -->
</body>
</html>
